<script>
    function changeStatus(id,newStatus)
    {
        newStatus.innerHTML = "<form method = 'POST' action = 'changeStatus'><input hidden name=id value=" + id + "><input type='text' name='newStatus' autofocus><input type='submit'></form>";
        newStatus.onclick = '';
    }

</script>
<div class="spacer container"></div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">

<div class="table-responsive">
  <table class="table table-striped" id="requests">
    <thead>
    <tr>
      <th>Id</th>
      <th>Initiated on</th>
      <th>Service Info</th>
      <th>Booking Info</th>
      <th>Status</th>
      <th>coupon_code</th>
      <th>amount</th>
      <th>rating</th>
      <th>Customer Details</th>
      <th>source of request</th>
    </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
        <tr>
          <td><%= order["id"] %></td>
          <td>
            <%= order["initiated_on"].strftime("%l:%M%p")%>
            <br/>
            <%= order["initiated_on"].strftime("%d %b %Y")%>
          </td>
          <td>
            <%= order["service"] %>
            <br/>
            <%= order["customer_comments"] %>
          </td>
          <td>
            Date : <%= order["booking_date"] %>
            <br/>
            Slot : <%= (order["booking_slot"] + 2*3600).strftime("%l:%M%p")%>
          </td>
          <td onclick="changeStatus(<%= order["id"] %>, this)"><%= order["status"] %></td>
          <td><%= order["coupon_code"] %></td>
          <td><%= order["amount"] %></td>
          <td><%= order["rating"] %></td>
          <td>
            Customer Id : <%= order["customer_id"] %>
            <br/>
            Name : <%= order["name"] %>
            <br/>
            Phone : <%= order["phone"] %>
            <br/>
            Email : <%= order["email"] %>
            <br/>
            Address : <%= order["address"] %>
          </td>
          <td><%= order["origin_of_request"] %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
      </div>
  <div class="col-md-1"></div>
</div>
<br/><br/><br/><br/><br/>