<div class="container" id="services">
  <h1 class="text-center spacer">Services</h1>

  <div class="row">
    <div class="col-md-3">
      <div class="service">
        <%= image_tag('2.png', alt: "Plumbing", class: "center-block service_image") %>
        <h3 class="text-center">Plumbing</h3>
      </div>
      <div class="service">
        <%= image_tag('3.png', alt: "Car Wash", class: "center-block service_image") %>
        <h3 class="text-center">Car Washing</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="service">
        <%= image_tag('10.png', alt: "House Cleaning", class: "center-block service_image") %>
        <h3 class="text-center">Laundry</h3>
      </div>
      <div class="service">
        <%= image_tag('8.png', alt: "Appliance Repair", class: "center-block service_image") %>
        <h3 class="text-center">Appliance Repair</h3>
      </div>
      <div class="service">
        <%= image_tag('carpenter.png', alt: "Carpenter", class: "center-block service_image") %>
        <h3 class="text-center">Packers And Movers</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="service">
        <%= image_tag('1.png', alt: "Electrician", class: "center-block service_image") %>
        <h3 class="text-center">Electrical</h3>
      </div>
      <div class="service">
        <%= image_tag('11.png', alt: "Movers and Packers", class: "center-block service_image") %>
        <h3 class="text-center">Packers And Movers</h3>
      </div>
      <div class="service">
        <%= image_tag('10.png', alt: "Home Cleaning", class: "center-block service_image") %>
        <h3 class="text-center">Packers And Movers</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="service">
        <%= image_tag('9.png', alt: "Pest Control", class: "center-block service_image") %>
        <h3 class="text-center">Pest Control</h3>
      </div>
      <div class="service">
        <%= image_tag('7.png', alt: "Computer Repair", class: "center-block service_image") %>
        <h3 class="text-center">Computer Repair</h3>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
</div>
