<script>
    $(function () {

        $("#date").datepicker();
    });
</script>

<body>


<div class="container">
  <%= render 'header' %>
  <%= render 'response' %>
</div>

<div class="spacer container"></div>
<div class="spacer container">
  <div class="row">
    <div class="col-md-2">
    </div>

    <div class="col-md-8 info_form">
      <h1>Please enter your contact information:</h1><br><br>

      <form action="/generic_orders" method="post">
            <div class="form-group">
              <label for="message-text" class="control-label">Name:</label>
              <input class="form-control" id="Customer-Name" name="name" required>
            </div>

        <br/>

        <div class="form-group">
          <label for="message-text" class="control-label">Address:</label>
          <%= text_field_tag 'house', nil, placeholder: 'Flat/House No, Floor, Building', class: 'form-control' %><br/>
          <%= text_field_tag 'street', nil,  placeholder: 'Colony/Society/Street, Loacality/Area', class: 'form-control' %><br/>
          <% if cookies[:city] == nil %>
            <%= text_field_tag 'city', nil,  placeholder: 'City', class: 'form-control' %><br/>
          <% end %>
          <%= text_field_tag 'pincode', nil, placeholder: 'Pincode', type: "number", class: 'form-control' %>
        </div>

        <br/>

        <div class="form-group">
          <label for="message-text" class="control-label">Phone Number:</label>
          <input type="number" class="form-control" id="Customer-Phone" name="phone" required>
        </div>

        <br/>

        <% if current_user == nil %>
            <div class="form-group">
              <label for="message-text" class="control-label">Email:</label>
              <input class="form-control" id="Customer-Email" name="email" required>
            </div>
        <% end %>

        <div id="email_error" class="Error_Text"></div>

        <button type="submit" class="btn btn-primary">Finish</button>

      </form>


    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

<%= render 'footer' %>

<div class="spacer"></div>

</body>
</html>